@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body,
html,
#root {
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(29, 185, 84, 1) 0%,
    rgba(185, 29, 130, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  
}

.font-main {
  font-family: "Lato", sans-serif;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
