@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body,
html,
#root {
  height: 100%;
  font-family: 'Signika', sans-serif;
  background: linear-gradient(
    135deg,
    rgba(29, 185, 84, 1) 0%,
    rgba(185, 29, 130, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  
}



.form-label {
    color: white;
    font-size: 1.5rem;
}

.form-select {
    background: transparent;
    border-width: 2px;
    color: white;
    font-family: "Signika", sans-serif;
}
.form-input {
    color: white;
    width: 100%;
    font-size: 1.3rem;
    background: transparent;
    border: 2px solid #ced4da;
    border-radius: 0.25rem;
}

.btn-custom {
    color: white;
    background: transparent;
    border: 2px solid white;
    font-family: "Signika", sans-serif;
}

.btn:hover {
    color: white;
    background: rgba(29, 185, 84, 1)
}

.form-check-label {
    color: white;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
